[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=qtile-cinnamon
Exec=qtile-cinnamon
NoDisplay=true
X-GNOME-WMName=Qtile
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
